.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* gọi thằng logo ở trong thằng navbar */
.navbar .logo {
  width: 150px;
}

/* display -> căn ngang hàng */
/* list style để bỏ dấu chấm đằng trước */
/* gap 20px để khoảng cách các phần tử con bên trong khối (item bên trong container) */
.navbar .navbar_menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar .navbar_right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .navbar_right button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 0.01px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

/* khi giữ vào các button bên trong navbar sẽ có màu */
.navbar button:hover {
  background-color: #faebe9;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar_menu a:link,
.navbar_menu a:visited {
  color: #49557e;
}

.navbar .navbar_search_icon {
  /* relative làm tham chiếu vị trí 
  để các phần tủ con tìm đến */
  position: relative;
  cursor: pointer;
}

/*  */
.navbar_search_icon .dot {
  /* absolute tìm dịa chỉ của thằng cha rồi tìm đến 
  và căn trái + đáy nên cần phải tự đièu chỉnh */
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar .navbar_menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar .navbar_right {
    gap: 30px;
  }

  .navbar .navbar_right img {
    width: 22px;
  }

  .navbar .navbar_right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar .navbar_menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar .navbar_right {
    gap: 20px;
  }

  .navbar .navbar_right img {
    width: 20px;
  }

  .navbar .navbar_right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar .navbar_menu {
    display: none;
  }
}
