.food_item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  animation: fadeIn 2s;
  transition: 0.3s;
}

.food_item_image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food_item_info {
  padding: 20px;
}

.food_item_name_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food_item_name_rating p {
  font-size: 20px;
  font-weight: 500;
}
.food_item_name_rating img {
  width: 70px;
}
.food_item_desc {
  color: #676767;
  font-size: 12px;
}

.food_item_price {
  color: tomato;
  font-weight: 500;
  font-size: 22px;
  margin-top: 10px;
}
